* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes full height */
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5px;
}

p.text-spacing {
    line-height: 1.6;
    text-align: justify;
    font-family: 'Poppins', sans-serif;
}

p.note-text {
    font-size: 13px;
}

/* Hero Section Styling */
.hero-section {
    position: relative;
    background-image: url("/static/images/wedding-cake-hero.png");
    background-size: cover, cover;
    background-position: center, center;
    color: #fff;
    text-align: center;
    height: 100vh; /* Full viewport height */
    padding: 0; /* Remove padding to make it truly cover the screen */
}

.hero-section h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}

.hero-section p {
    font-size: 1.25rem;
    line-height: 1.4;
    color: #fff;
    opacity: 0.8;
}

.hero-section .btn-outline-light {
    font-size: 1.25rem;
    padding: 12px 30px;
    border-radius: 50px;
}

/* Overlay to darken background for better text visibility */
.hero-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Adjust opacity for desired darkness */
}

/* Container for text to be 80% of the page width */
.hero-text-container {
    width: 80%; /* Set the container to 80% of the width */
    margin: 0 auto; /* Center the container */
}

/* Hamburger Menu Styles */
.burger-menu {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 100; /* Ensures the menu appears above other content */
}

.burger-menu div {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    transition: all 0.3s ease;
}

/* Show burger menu on mobile view (max-width: 768px) */
@media (max-width: 768px) {
    .burger-menu {
        display: block; /* Show the burger icon on small screens */
    }
}

/* Side Navigation */
.side-nav {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease;
    padding-top: 60px;
    z-index: 99;
}

.side-nav a {
    display: block;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.side-nav a:hover {
    background-color: #ddd;
}

.side-nav.open {
    left: 0;
}
