{% extends 'main.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-lg-6 col-md-8 col-sm-12">
        <div class="box-element" style="background-color: #fff; border-radius: 8px; padding: 20px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);">
            <h2 class="text-center mb-4">Check your email</h2>
            <p class="text-center">We have sent a password reset link to your email. Please follow the instructions in the email to reset your password.</p>
        </div>
    </div>
</div>
{% endblock content %}